<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Funko's Galaxy</title>
	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'image/favicon_io.ico' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles-new.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon_io/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon_io/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon_io/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'image/favicon_io/site.webmanifest' %}">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol
            id="funkosgalaxy"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
        >
            <circle cx="12" cy="12" r="10"></circle>
            <path
                d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
            ></path>
        </symbol>
        <symbol id="account" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </symbol>
        <symbol id="cart" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            ></path>
        </symbol>
        <symbol id="chevron-right" viewBox="0 0 16 16">
            <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            ></path>
        </symbol>
    </svg>

    <nav
        class="navbar navbar-expand-md bg-dark sticky-top border-bottom"
        data-bs-theme="dark"
    >
        <div class="container">
            <a class="navbar-brand d-md-none" href="{% url 'home' %}">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#funkosgalaxy"></use>
                </svg>
                Funko's Galaxy
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas"
                aria-controls="#offcanvas"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="offcanvas offcanvas-end"
                tabindex="-1"
                id="offcanvas"
                aria-labelledby="#offcanvasLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="#offcanvasLabel">
                        Funko's Galaxy
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#funkosgalaxy"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <div class="justify-content-center d-flex flex-row gap-1">
                                <a class="nav-link" href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'account_login' %}{% endif %}">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#account"></use>
                                    </svg>
                                </a>
                                <a class="nav-link" href="{% url 'cart' %}">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        {% block main_content %}{% endblock %}
    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="d-block mb-2"
                    role="img"
                    viewBox="0 0 24 24"
                >
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
                    ></path>
                </svg>
                Funko's Galaxy Inc.
                <small class="d-block mb-3 text-body-secondary"
                    >© 2023</small
                >
            </div>
            <div class="col-4 col-md">
                <h5>Categories</h5>
                <ul class="list-unstyled text-small">
                    {% for category in categories %}
                        <li>
                            <a class="link-secondary text-decoration-none" href="{% url 'category_detail' category.id %}"
                                >{{ category.name }}</a
                            >
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="{% url 'contact' %}"
                            >Contact</a
                        >
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="{% url 'privacy' %}"
                            >Privacy</a
                        >
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="{% url 'terms' %}"
                            >Terms</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5>Socials</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="https://www.facebook.com/profile.php?id=61550634398595"
                            >Facebook</a
                        >
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="https://www.instagram.com/funkosgalaxy/"
                            >Instagram</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>