{% extends "base.html" %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <div class="banner-container container">
        {% for product in products %}
            <div class="banner">
                <img src="{{ product.image.url }}" alt="Product image">
                <h2>{{ product.name }}</h2>
                <div class="price">Price: $ {{ product.price }}</div>
                <div>
                    <a href="{% url 'product_detail' product.id %}" class="btn-shop-now">Buy</a>
                    <a href="{% url 'product_detail' product.id %}" class="btn-shop-now">More details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
    