{% extends "base.html" %}
{% block main_content %}
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
            <h1 class="text-body-emphasis fw-bold">Terms</h1>
            <p class="col-lg-8 mx-auto lead">
                Terms of Service
            </p>
        </div>
    </div>
    <div class="container py-5">
        <p>Terms of Service</p>



<p><b>1. Introduction</b></p>


<p>These Terms of Service ("Terms") govern your use of our website [//www.funkosgalaxy.com] and any services or resources related to it. By accessing or using our site, you agree to comply with these Terms. If you do not agree with any part of these Terms, you may not use our site.</p>

<p><b>1. Use of the Site</b></p>

<p>1.1. You agree to use this site only for lawful purposes and in accordance with all applicable laws and regulations.</p>

<p>1.2. You shall not use this site in any way that may impair, disable, overburden, or compromise the security of the site or interfere with the use of others.</p>

<p><b>2. User Content</b></p>

<p>2.1. You may have the opportunity to post, submit, or share information, comments, texts, images, or other materials on the site ("User Content").</p>

<p>2.2. You are solely responsible for the User Content you post on the site. You represent and warrant that you have all necessary rights to the User Content you post and that the User Content does not violate any third-party rights.</p>

<p><b>3. Intellectual Property Rights</b></p>

<p>3.1. All content, trademarks, logos, and copyright-protected materials displayed on this site are the property of [Your Company Name] or its licensors and are protected by copyright and other intellectual property laws.</p>

<p><b>4. Disclaimer</b></p>

<p>4.1. This site is provided "as is," and we make no warranties of any kind, express or implied, regarding the accuracy, reliability, or availability of the content.</p>

<p>4.2. We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use or inability to use this site.</p>

<p><b>5. Changes to the Terms of Service</b></p>

<p>5.1. We reserve the right to change or update these Terms of Service at any time. Any changes will become effective immediately upon posting the revised Terms on this site.</p>

<p><b>6. Applicable Law</b></p>

<p>6.1. These Terms are governed and interpreted in accordance with the laws of [Your Country/State], and any disputes related to these Terms will be subject to the exclusive jurisdiction of the courts of [Your Country/State].</p>

<p><b>7. Contact</b></p>

<p>7.1. If you have any questions about these Terms of Service, please contact us at [contact email address].</p>

<p>These Terms of Service were last updated on [23/08/2023].</p>





    </div>
{% endblock %}