<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
    {% block meta_content %}{% endblock %}
	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'image/favicon_io.ico' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles-new.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon_io/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon_io/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon_io/favicon-16x16.png' %}">
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol
            id="funkosgalaxy"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
        >
            <circle cx="12" cy="12" r="10"></circle>
            <path
                d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
            ></path>
        </symbol>
        <symbol id="account" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </symbol>
        <symbol id="cart" fill="currentColor" viewBox="0 0 16 16">
            <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            ></path>
        </symbol>
        <symbol id="chevron-right" viewBox="0 0 16 16">
            <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            ></path>
        </symbol>
    </svg>

    <nav
        class="navbar navbar-expand-md bg-dark sticky-top border-bottom"
        data-bs-theme="dark"
    >
        <div class="container">
            <a class="navbar-brand d-md-none" href="{% url 'home' %}">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#funkosgalaxy"></use>
                </svg>
                Funko's Galaxy
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas"
                aria-controls="offcanvas"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="offcanvas offcanvas-end"
                tabindex="-1"
                id="offcanvas"
                aria-labelledby="offcanvasLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasLabel">
                        Funko's Galaxy
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <svg class="bi" width="24" height="24">
                                    <use xlink:href="#funkosgalaxy"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <div class="justify-content-center d-flex flex-row gap-1">
                                <a class="nav-link" href="{% if user.is_authenticated %}{% url 'user_favorites' %}{% else %}{% url 'account_login' %}{% endif %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><path fill="#a4a5a6" d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
                                </a>
                                <a class="nav-link" href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'account_login' %}{% endif %}">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#account"></use>
                                    </svg>
                                </a>
                                <a class="nav-link" href="{% url 'cart' %}">
                                    <svg class="bi" width="24" height="24">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main>
        {% block main_content %}{% endblock %}
    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    class="d-block mb-2"
                    role="img"
                    viewBox="0 0 24 24"
                >
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10"></circle>
                    <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
                    ></path>
                </svg>
                Funko's Galaxy Inc.
                <small class="d-block mb-3 text-body-secondary"
                    >© 2023</small
                >
            </div>
            <div class="col-4 col-md">
                <h5>Categories</h5>
                <ul class="list-unstyled text-small">
                    {% for category in categories %}
                        <li>
                            <a class="link-secondary text-decoration-none" href="{% url 'category_detail' category.id %}"
                                >{{ category.name }}</a
                            >
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="{% url 'contact' %}"
                            >Contact</a
                        >
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="{% url 'privacy' %}"
                            >Privacy</a
                        >
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="{% url 'terms' %}"
                            >Terms</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5>Socials</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a rel="nofollow" class="link-secondary text-decoration-none" href="https://www.facebook.com/profile.php?id=61550634398595"
                            >Facebook</a
                        >
                    </li>
                    <li>
                        <a rel="nofollow" class="link-secondary text-decoration-none" href="https://www.instagram.com/funkosgalaxy/"
                            >Instagram</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md">
                <h5>Newsletter</h5>
                <p>Subscribe to our newsletter for the latest updates.</p>
                <div class="newsletter-subscription mt-4">
                    <input type="email" id="newsletterEmail" class="form-control" placeholder="Your email" aria-label="Your email" required>
                    <button class="btn btn-primary mt-2" onclick="subscribeToNewsletter()">Subscribe</button>
                    <p id="newsletterResponse" class="mt-2" style="display: none;"></p>
                </div>                
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        function subscribeToNewsletter() {
            var emailInput = document.getElementById('newsletterEmail');
            var responseElement = document.getElementById('newsletterResponse');
        
            // Check if the email input is valid
            if (emailInput.checkValidity()) {
                fetch('/subscribe_to_newsletter/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'email=' + emailInput.value
                })
                .then(response => response.json())
                .then(data => {
                    responseElement.style.display = 'block';
                    responseElement.innerHTML = data.message;
                    if(data.status === 'success') {
                        responseElement.className = 'alert alert-success';
                    } else {
                        responseElement.className = 'alert alert-danger';
                    }
                });
            } else {
                // If the input is not valid, show an error message
                responseElement.style.display = 'block';
                responseElement.innerHTML = 'Please enter a valid email address.';
                responseElement.className = 'alert alert-danger';
            }
        }
        
    </script>
</body>
</html>