{% extends "base.html" %}
{% block title %}Privacy Policy - Funko's Galaxy{% endblock %}
{% block meta_content %}
<meta name="description" content="Funko's Galaxy operates the website https://www.funkosgalaxy.com (the Service).">
{% endblock %}

{% block main_content %}
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
            <h1 class="text-body-emphasis fw-bold">Privacy</h1>
            <p class="col-lg-8 mx-auto lead">
            Privacy Policy
            </p>
        </div>
    </div>
    <div class="container py-5">
        <p>1. Introduction</p>
        <p>Funko's Galaxy operates the website https://www.funkosgalaxy.com (the "Service").</p>
        <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>
        <p>2. Information Collection and Use
        <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
        <p>Types of Data Collected:</p>
        <p>2.1. Personal Data</p>
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Contact"). Personally identifiable information may include, but is not limited to:</p>
        <p> - Email address</p>
        <p> - First name and last name</p>
        <p> - Phone number</p>
        <p> - Address, State, Province, ZIP/Postal code, City</p>
    </div>
{% endblock %}
