{% extends "base.html" %}

{% block title %}All Products - Funko's Galaxy{% endblock %}
{% block meta_content %}
<meta name="description" content="Funko's Galaxy, See all of our products">
{% endblock %}

{% block main_content %}
{% if messages %}
<span>{{messages}}</span>
{% endif %}

	<div class="p-5 text-center bg-body-tertiary">
		<div class="container py-5">
			<h1 class="text-body-emphasis fw-bold">All Products</h1>
			<p class="col-lg-8 mx-auto lead">
			See all of our products
			</p>
		</div>
	</div>
    {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        {% endif %}
        <div class="bg-body-tertiary me-md-3 py-3 px-3 py-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-7 text-primary">{{ product.name }}</h2>
                <h1>€{{ product.price }}</h1>
                <div class="justify-content-center d-flex flex-row my-3 gap-3">
                    <a href="{% url 'add_to_cart' product.id %}"  class="btn btn-lg btn-primary">Buy</a>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-lg btn-light">See more</a>
                </div>
            </div>
            <div
                class="bg-dark shadow-sm mx-auto overflow-hidden"
                style="
                    width: 50%;
                    max-width: 500px;
                    border-radius: 21px;
                "
            >
                <img src="{{ product.image.url }}" alt="Product image" class="w-100" >
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
	