{% extends "base.html" %}

{% block main_content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="bg-dark shadow-sm mx-auto overflow-hidden" style="
                    width: 50%;
                    max-width: 500px;
                    height: 300px;
                    border-radius: 21px;
                ">
                    <img src="{{ product.image.url }}" alt="{{ product.name }} Image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="my-3 py-3">
                    <h2 class="display-7 text-primary">{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <h1>€{{ product.price }}</h1>
                    <a href="{% url 'add_to_cart' product.id %}" type="button" class="btn btn-lg btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
