{% extends "base.html" %}

{% block title %}Favorite Products - Funko's Galaxy{% endblock %}
{% block meta_content %}
<meta name="description" content="Your favorite products">
{% endblock %}

{% block main_content %}
<div class="container mt-5">
    <h1 class="display-6 text-primary">Your Favorite Products</h1>
    <br/>
    <div class="row">
        {% for product in favorited_products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p>You haven't liked any products yet.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
